:root {
    --md-primary-fg-color:        #90030C;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #9f000b;
  }


  [data-md-color-scheme="slate"] {
    --md-hue: 0; 
  
  
  }